.card-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/459px-ISO_C%2B%2B_Logo.svg.png');
  background-size: cover;
}
table {
  width: 100%;
}
.mat-column-position {
  flex: 0 0 10%;
  width: 100px;
}
.mat-column-name {
  flex: 0 0 10%;
  width: 100px;
}
.mat-column-fixed_err_cnt {
  flex: 0 0 50%;
  width: 100px;
}
.mat-column-total_program_err_cnt {
  flex: 0 0 50%;
  width: 100px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
